<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="base">

  <!-- Define any properties here for easy modifications -->
  <xacro:property name="base_mass" value="70.0210745907357"/>
  <xacro:property name="base_ixx" value="9.06122735721955"/>
  <xacro:property name="base_ixy" value="0.0933988942518672"/>
  <xacro:property name="base_ixz" value="0.665662584048376"/>
  <xacro:property name="base_iyy" value="12.5350462868938"/>
  <xacro:property name="base_iyz" value="0.00262520723302998"/>
  <xacro:property name="base_izz" value="7.44839974564544"/>
  <xacro:property name="base_color" value="0.792156862745098 0.819607843137255 0.933333333333333 1"/>

  <!-- Dummy root link without inertia -->
  <link name="root_link"/>

  <!-- Fixed joint between root_link and base_link -->
  <joint name="root_to_base" type="fixed">
    <parent link="root_link"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Original base_link definition -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.257082749974343 -0.227847593519202 0.0535404411050965" rpy="0 0 0"/>
      <mass value="${base_mass}"/>
      <inertia
        ixx="${base_ixx}" ixy="${base_ixy}" ixz="${base_ixz}"
        iyy="${base_iyy}" iyz="${base_iyz}" izz="${base_izz}"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iai_boxy_base/meshes/base_link.dae"/>
      </geometry>
      <material name="">
        <color rgba="${base_color}"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iai_boxy_base/meshes/base_link_simple.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="laser_reference_front"/>
  <joint name="laser_reference_front_joint" type="fixed">
    <origin xyz="0.19107 0.0506 0.1575" rpy="-4.1881E-15 -4.2124E-15 0.7854"/>
    <parent link="base_link"/>
    <child link="laser_reference_front"/>
    <axis xyz="-0.99849 0 -0.054862"/>
  </joint>

  <link name="laser_reference_back"/>
  <joint name="laser_reference_back_joint" type="fixed">
    <origin xyz="-0.69357 -0.506 0.1575" rpy="4.9333E-15 4.5082E-15 -2.3562"/>
    <parent link="base_link"/>
    <child link="laser_reference_back"/>
    <axis xyz="-1 0 0"/>
  </joint>

</robot>
