<?xml version="1.0"?>
<robot name="kuka_lwr_arm" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define materials -->
  <material name="UniHB-Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <!-- Include utility definitions -->
  <xacro:include filename="$(find iai_kuka_lwr4_description)/defs/util_defs.xml"/>

  <!-- Properties for arm elements -->
  <xacro:property name="arm_elem_base_mass" value="2.0"/>
  <xacro:property name="arm_elem_link_mass" value="2.0"/>
  <xacro:property name="arm_elem_ball_link_mass" value="2.0"/>
  <xacro:property name="arm_elem_end_link_mass" value="2.0"/>
  <xacro:property name="arm_elem_flange_link_mass" value="0.5"/>
  <xacro:property name="safety_controller_k_pos" value="100"/>
  <xacro:property name="safety_controller_k_vel" value="2"/>
  <xacro:property name="joint_damping" value="0.1"/>
  <xacro:property name="arm_velocity_scale_factor" value="1"/>

  <!-- Define the KUKA LWR Arm Macro -->
  <xacro:macro name="kuka_lwr_arm" params="parent prefix *origin color_postfix">
    <joint name="${parent}_${prefix}arm_base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="calib_${prefix}arm_base_link"/>
    </joint>

    <link name="calib_${prefix}arm_base_link">
      <inertial>
        <mass value="${arm_elem_base_mass}"/>
        <origin xyz="0 0 0.055" rpy="0 0 0"/>
        <xacro:cylinder_inertia_def radius="0.06" length="0.11" mass="${arm_elem_base_mass}"/>
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://iai_kuka_lwr4_description/meshes/arm_base${color_postfix}.dae" scale="1 1 1"/>
        </geometry>
        <material name="UniHB-Red"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://iai_kuka_lwr4_description/meshes/convex/arm_base_convex.stl"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="calib_${prefix}arm_base_link">
      <material value="kuka-lwr.material"/>
    </gazebo>

    <!-- Additional links and joints go here -->
    <!-- To-do:=define arm_1_link, arm_2_link, and so forth similarly -->

  </xacro:macro>

  <!-- Instantiate the Arm Macro -->
  <link name="world"/>
  <xacro:kuka_lwr_arm parent="world" prefix="kuka_" color_postfix="_blue">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:kuka_lwr_arm>

</robot>
